<h2>
  Liste des Users
</h2>
  <%- @users.each do |user| %>

    <%= link_to user_path(user) do %>
    <%= user.full_name %>
    <%- end %>
    <%= user.phone_number %>
    <%= user.email %>
    <br />
  <%- end %>
